*
{
    margin:px;
    padding:0px;
    box-sizing: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

body{
    background-image: url(./images/background.jpg);
}
/* image carousal */
    .carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }

  .carousel-item {
    min-width: 100%;
    transition: opacity 0.5s ease;
  }
   .carousel-item img
  {
    width: 800px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
  }
  /* end of image carousal */
/* price and pacakages */
.active {
    border-bottom: 2px solid black;
  }

  #cardcolor
  {
    background-color: khaki;
  }
  /* Out Team Section */
  .platform {
    position: relative;
    transition: right 0.3s;
  }

  .body {
    background-color: whitesmoke !important;
  }